h1 {
	background-color: pink;
	text-align: center;
	font-weight: 100;
}

h2 {
	font-weight: 100;
}

table {
	margin: 0px auto;
	text-align: center;
	font-weight: 100;
}

body {
	margin: 0px auto;
	text-align: center;
	font-family: cursive;
	background-image: url("../img/memo.png");
}